.iot-catalogue-element-list {
}

.iot-catalogue-element-page-intro-container {
	margin-left:-50px;
	margin-right:-50px
}

.iot-catalogue-element-page-intro {
	margin-left:50px;
	margin-right:50px
}

.iot-catalogue-element-label {
	background-color:transparent;
	text-transform: none;
}
.iot-catalogue-separator {

  width: 1px;
  background-color: white;
}
